<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="product-form" action="<% if(edit) { %>/admin/edit-product/<% } else { %>/admin/add-product<% } %>" method="POST">
            <div class="form-control">
                <% if(edit) { %>
                    <input type="hidden" name="id" value="<%=product.id%>">
                <% } %>
                <label for="title">Title</label>
                <input type="text" name="title" value="<% if(edit) { %> <%= product.title %> <% } %>" id="title">
            </div>
            <div class="form-control">
                <label for="imgUrl">Image URL</label>
                <input type="text" name="imgUrl" value="<% if(edit) { %> <%= product.imgUrl %> <% } %>" id="imgUrl">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input type="number" name="price" value="<% if(edit) { %><%=product.price%><% } %>" id="price" step="0.01">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="5"><% if(edit) { %><%= product.desc %><% } %></textarea>
            </div>
            
            <button class="btn" type="submit">
                <% if(edit) { %>
                    Edit Product
                <% } else { %>
                    Add Product
                <% } %>
            </button>
        </form>
    </main>
<%- include('../includes/end.ejs') %> 