<%- include('../includes/head.ejs') %>
    </head>
    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
                <% if (products.length > 0) {%>
                    <ul>
                        <% products.forEach(p => { %>
                            <div>
                                <li>
                                    <%= p.title %>(<%= p.cartItem.quantity %>)
                                    <form action="/cart-delete-item" method="post">
                                        <input type="hidden" name="id" value="<%= p.id %>">
                                        <button class="btn" type="submit">Delete</button>
                                    </form>
                                </li>
                            </div>
                        <% }); %>
                    </ul>
                    <div class="centered">
                        <form action="create-order" method="POST">
                            <button type="submit" class="btn">Order Now!</button>
                        </form>
                    </div>
                <%} else {%>
                    <h1>No products in the cart</h1>           
                <%}%>
        </main>
        <%- include('../includes/end.ejs') %>